# Python
node_modules/
venv/
.venv/
__pycache__/
*.py[cod]
# 빌드파일
target/
build/
opensearch_data/
postgres_data/
tests/
# 환경 변수 및 인증서 (mkcert로 만든 파일 포함)
#.env
*.pem
localhost+*-key.pem
# OS 관련
.DS_Store
Thumbs.db