fastapi
uvicorn[standard]
opensearch-py
python-dotenv
pymupdf
python-multipart
sqlalchemy
psycopg2-binary
pymysql
oracledb
alembic
pandas
openpyxl
pdfplumber
python-docx
python-pptx
pypdf
olefile
Pillow
pytesseract
paddlepaddle
paddleocr
opencv-python-headless
py-hanspell
PyJWT
cryptography